@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

    

    <address>
        <strong>Support:</strong>   <a href="https://vk.com/ikymiko">Давид - Глава гильдии</a><br />
        
    </address>
