@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-xs-8">
        <label>Правила гильдии</label>
        <textarea>
 Согильдиец обязан: 

1. Находиться в нашем teamspeak, при игре в Royal Quest.

2. Ходить на "Арены"  в соответствующем канале (при попадании на арену против согильдийца, не сидя в канале, человек должен выйти с арены, моментально).

3. Помогать согильдийцам в PvP локациях против агрессивно настроенных противников.
 
4. Иметь порталы на всех PvP боссов (Воко, Денгур, Эдвард), а так же на пирамиду (0 этаж), точка должна быть записана в портале.

5. При сборе на гильдийные мероприятия находиться в канале "Общий" и в локации "Эльтан".
 
6. Активно принимать участие в варах. 

7. Если согильдиец фармит в замке больше часа в день, другой согильдиец вправе попросить уступить место фарма, согильдиец будет не в праве отказать.

8. Вступить в беседу ВК "Dead Inside (БОССЫ, ВАЖНАЯ ИНФА)" (если вас нет в беседе, денежные поощерения вы не получаете).

9. Открывать сундуки с PvP-Боссов, сразу после его смерти,  находясь в пати с согильдийцами.  

10. Слушать, выполнять и не спорить с командами офицеров и совета гильдии. 



Согильдийцу запрещено: 

1. Оскорблять, унижать и неуважительно относиться к согильдийцам.

2. Флуд, мат и оскорбления в общем канале на гильдийных мероприятиях (вары, осада, PvP боссы, аркон).

3. На пвп боссах бить друг друга, при условии активной игры оппозиции.

4. Помогать тем игрокам, которые агрессивно настроены против нашей гильдии.

5. Мешать согильдийцу убить его недоброжелателя.

6. Не находясь в канале "Поле боя" таскать флаги.

7. Убивать, бить и сражаться с согильдийцем без договоренности. 

8. Ставить себя выше других согильдийцев. 

9. Использовать умения, накладывающие дебафы на союзниках, при условии убийства PvP-босса без противников.

10. Улетать на Арены и Поле Боя за 10 минут до PvP Босса.



Правила по Картам Боссов:

1. Не персональные карты PvP Боссов распределяет совет. 

2. Персональные карты остаются у вас, за них платить не нужно.

3. Когда на боссе нет саппортов, деньги с карты делятся на всех, кто был в момент выбитой карты.

4. Если саппорт приходит на босса, у которого меньше половины HP, он получает на 50% меньше денег от своей доли. Эта доля будет распределена на саппортов, которые были свыше половины HP босса.

5. Если саппорт заходит за ДД на босса, когда этого не требует Офицер/Совет, то деньги с возможно-выбитой карты - он не получает. Такая же система работает, если ДД захотел зайти за саппорта.

6. Стоимость карт в гильдии. Эдик - 250кк, Денгур - 200кк, Воко - 200кк.
</textarea>
    </div>
    <div class="col-xs-4">
        <img src="/Imgs/Guild_Preview.png"/>
    </div>
</div>
<div>


    <a href="https://docs.google.com/document/d/1xTOPJ458mMoGrRdq75SJYwkDaGBRwnfM3yG148Vm0RY">Кодекс гильдии</a>
</div>

